[flake8]
# List of patterns to ignore
# It will exclude the files in the following directories
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    *.pyc,
    *.egg-info,
    *.egg,
    temp

# Maximum allowed line length
max-line-length = 120

# Cyclomatic complexity threshold
max-complexity = 15
