on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string

jobs:
  reusable_package_validation_workflow:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./packages/${{ inputs.package }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt --no-cache-dir
        pip install -r ../../requirements-dev.txt
    - name: Run codestyle tests
      run: |
        make lint
    - name: Run unit tests
      run: |
        make test
